.Message {
    padding: 10px;
    margin: 10px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: left;
}

.Message__error {
    border: 1px solid red;
    color: red;
}

.Message__title {
    margin-bottom: 5px;
}

.Message__text {
    margin: 0;
}