@import 'vars';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}


body {
  @extend %font-main
}

img {
  display: block;
  max-width: 100%;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: $maxWidthContentDesktop;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #222222;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    &__left {
      display: flex;
      align-items: flex-end;
      width: 111px;
      justify-content: space-between;
      margin-left: 1px;
      margin-top: 18px;
      margin-bottom: 19px;
    }

    &__right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 159px;
      margin-top: 26px;
      margin-bottom: 20px;

      &__menu {

        &__checkbox {
          position: absolute;
          left: -999999px;
          visibility: hidden;
        }

        &__checkbox:checked~.menu {
          transform: scaleX(1);
        }
      }

      &__cart {
        position: relative;

        &__counter {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 19px;
          height: 19px;
          border-radius: 9.5px;
          background: $colorHighlight;
          font-family: "Lato";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 19px;
          color: #ffffff;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}

.menu {
  @include flex-column;
  position: absolute;
  background-color: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 16px 16px 32px 32px;
  z-index: 999;
  top: 75px;
  right: 0;
  transform: scaleX(0);
  transition: transform .3s;
  transform-origin: right;

  &__close {
    font-size: 15px;
    line-height: 15px;
    color: #6F6E6E;
    align-self: flex-end;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 9px;
    padding-bottom: 4px;
  }

  &__category {
    @include flex-column;
    margin-top: 20px;

    &__title {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $colorHighlight;
      margin-bottom: 12px;
    }

    &__list {
      @include flex-column;
      gap: 11px;

      &__item {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-left: 21.5px;
        list-style-type: none;

        &:hover {
          color: $colorHighlight;
        }
      }
    }
  }
}

.page-header {
  background-color: #F8F3F4;

  &__wrap {
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorHighlight;
  }

  &__breadcrumbs {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &__item:not(:last-child)::after {
      content: "/";
      padding: 0 10px;
    }

    &__item:last-child {
      color: $colorHighlight;
      font-weight: 700;
    }
  }
}


.top {
  background-color: #f1e4e6;

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    margin-left: -230px;
  }

  &__text {
    margin-top: 290px;
    margin-bottom: auto;
    margin-right: 101px;
    padding-left: 16px;
    border-left: 12px solid $colorHighlight;
    min-width: 405px;
  }

  &__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
  }

  &__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;

    &__highlight {
      color: $colorHighlight;
    }
  }
}

.categories {
  &__wrap {
    margin-top: 65px;
    margin-bottom: 96px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
  }

  &__item {
    @include flex-column-center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #ffffff;
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      color: $colorHighlight;
    }
  }

  &__women {
    background-image: url(../img/bg_category_women.png);
  }

  &__men {
    background-image: url(../img/bg_category_men.png);
  }

  &__kids {
    background-image: url(../img/bg_category_kids.png);
  }

  &__accesories {
    background-image: url(../img/bg_category_accesories.png);
    grid-column: span 3;
  }
}

.catalog {
  &__wrap {
    margin-bottom: 60px;
    @include flex-column-center;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    text-align: center;
  }

  &__cards {
    margin: 48px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__card {
    background-color: #f8f8f8;

    &__img {
      position: relative;

      &__filter {
        @include flex-center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #3a3838;
        opacity: 0;
        transition: opacity 0.3s linear;

        &:hover {
          opacity: 0.86;
        }
      }
    }

    &__add-cart-button {
      @include flex-center;
      width: 139px;
      height: 44px;
      border: 1px solid #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      background: none;
      gap: 11px;
    }

    &__description {
      padding: 25px 29px 20px 16px;
      @include flex-column;
      min-height: 167px;
    }

    &__title {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #000000;
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #5d5d5d;
    }

    &__price {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $colorHighlight;
      margin-bottom: 0;
      margin-top: auto;
    }
  }

  &__button {
    border: 1px solid #ff6a6a;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    width: 212px;
    height: 48px;
    background-color: #ffffff;
  }

  &__pagination {
    border: 1px solid #EBEBEB;
    display: flex;
    margin-bottom: 36px;

    &__button {
      @include flex-center;
      height: 44px;
      min-width: 44px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #5D5D5D;
      padding: 0 5px;

      &:hover {
        color: $colorHighlight;
      }
    }
  }
}


.advantages {
  background-color: #222224;

  &__wrap {
    padding-top: 103px;
    padding-bottom: 104px;
    display: flex;
    gap: 30px;
  }

  &__item {
    @include flex-column-center;
    max-width: 360px;
    min-height: 134px;

    &__title {
      font-weight: 400;
      font-size: 19.96px;
      line-height: 24px;
      color: #fbfbfb;
      margin-top: auto;
      margin-bottom: 16px;
    }

    &__text {
      font-weight: 400;
      font-size: 13.972px;
      line-height: 17px;
      text-align: center;
      color: #fbfbfb;
      margin-bottom: 0;
    }
  }

  &__item svg path {
    fill: $colorHighlight;
  }
}

.subscribe {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/bg_subscribe.png);

  &__wrap {
    min-height: 448px;
    display: flex;
    justify-content: space-between;
  }

  &__picture {
    max-width: 360px;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;

    &__text {
      margin-top: 30px;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: #222224;
    }
  }

  &__form {
    min-width: 557px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 167.2%;
      text-align: center;
      color: #222224;
    }

    &__subtitle {
      font-weight: 400;
      font-size: 18px;
      line-height: 167.2%;
      text-align: center;
      color: #222224;
      margin-bottom: 32px;
    }

    &__form {
      display: flex;
      height: 49px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;

      &__input-email {
        width: 256px;
        border: none;
        background: #e1e1e1;
        padding-left: 22px;
        padding-right: 22px;
        border-radius: 24px 0 0 24px;
        outline: none;
        color: #222224;
        opacity: 0.67;
      }

      &__button-submit {
        width: 100px;
        border: none;
        color: #ffffff;
        background-color: #d73c3c;
        border-radius: 0 24px 24px 0;

        &:hover {
          box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, 0.15), 0 .4em .5em -.4em rgba(0, 0, 0, 0.4);
        }

        &:active {
          background-color: #ffffff;
          color: #d73c3c;
        }
      }

    }
  }
}


.footer {
  background-color: #222224;

  &__wrap {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
  }

  &__socials {
    display: flex;
    gap: 7px;

    &__icon {
      background-color: #FFF;
      transition: background-color 0.3s;

      &:hover {
        background-color: $colorHighlight;
      }

      &:hover path {
        fill: #fff;
      }

      &__icon path {
        transition: fill 0.3s;
      }
    }
  }
}


@media (max-width: $maxWidthPad) {
  .container {
    max-width: $maxWidthContentPad;
    padding: 0 16px;
  }

  .header {
    &__nav {
      &__left {
        margin-left: 16px;
        margin-bottom: 18px;
      }

      &__right {
        margin-top: 27px;
        margin-bottom: 18px;
        width: 169px;

        &__cart {
          &__icon {
            margin-left: 9px;
          }
        }
      }
    }
  }

  .top {
    &__image {
      margin: 0;
      max-width: 368px;
    }

    &__text {
      margin-top: 138px;
      margin-bottom: auto;
      margin-right: 21px;
      padding-left: 16px;
      border-left: 12px solid $colorHighlight;
      min-width: 311px;
    }

    &__title {
      font-size: 44px;
      line-height: 53px;
    }

    &__subtitle {
      font-size: 24px;
      line-height: 29px;
    }
  }



  .categories {
    &__wrap {
      margin-bottom: 110px;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 167px 116px;
    }
  }

  .catalog {

    &__wrap {
      margin-bottom: 70px;
    }

    &__title {
      margin-bottom: 3px;
    }

    &__cards {
      margin: 72px 0 32px;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    &__card {
      &__description {
        min-height: 161px;
      }

      &__title {
        margin-bottom: 13px;
      }

    }
  }

  .advantages {
    &__wrap {
      @include flex-column-center;
      padding-top: 48px;
      padding-bottom: 64px;
      gap: 48px;
    }
  }

  .subscribe {
    &__wrap {
      @include flex-column-center;
      padding-top: 64px;
      padding-bottom: 140px;
      gap: 48px;
    }

    &__picture {
      margin: 0;
    }

    &__form {
      margin: 0;

      &__title {
        line-height: 162%;
      }

      &__subtitle {
        margin-bottom: 27px;
        line-height: 162%;
      }
    }
  }
}

@media (max-width: $maxWidthMobile) {
  .container {
    max-width: $maxWidthContentMobile;
    padding: 0 0;
  }

  .header {
    &__nav {
      &__left {
        margin-left: 16px;
        margin-bottom: 18px;
      }

      &__right {
        margin-right: 16px;
        width: auto;

        &__profile {
          display: none;
        }

        &__cart {
          display: none;
          margin-top: 25px;
          margin-bottom: 26px;
        }
      }
    }
  }

  .top {
    &__wrap {
      min-height: 363px;
      justify-content: center;
      align-items: center;
    }

    &__image {
      display: none;
    }

    &__text {
      margin: 0 0;
      padding-left: 15px;
      border-left: 12px solid $colorHighlight;
      min-width: 263px;
    }

    &__title {
      font-size: 38px;
      line-height: 46px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 24px;
    }

  }

  .categories {

    &__wrap {
      @include flex-column;
      margin-bottom: 64px;
      padding: 0 16px;
      gap: 32px;
    }

    &__item {
      min-height: 248px;
    }

    &__accesories {
      min-height: 111px;
    }
  }

  .catalog {
    &__wrap {
      margin-top: 64px;
      margin-bottom: 85px;
      padding: 0 8px;
    }

    &__cards {
      @include flex-column;
      margin: 64px 0 40px;
      display: flex;
      gap: 16px;
    }
  }


  .advantages {
    &__wrap {
      padding-top: 48px;
      padding-bottom: 81px;
      gap: 46px;
    }
  }

  .subscribe {
    &__wrap {
      padding-top: 64px;
      padding-bottom: 110px;
      gap: 59px;
    }

    &__picture {
      max-width: 343px;
      min-height: 194px;

      &__img {
        width: 92px;
      }

      &__text {
        font-size: 18px;
        line-height: 22px;
      }
    }

    &__form {
      min-width: 341px;

      &__title {
        font-size: 24px;
        line-height: 153.2%;
      }

      &__subtitle {
        font-size: 14px;
        line-height: 153.2%;
        margin-bottom: 22px;
      }

      &__form {
        height: 47px;

        &__input-email {
          width: 245px;
          padding-left: 21px;
          padding-right: 21px;
          border-radius: 23px 0 0 23px;
        }

        &__button-submit {
          width: 96px;
          border-radius: 0 23px 23px 0;
        }
      }
    }
  }

  .footer {
    &__wrap {
      min-height: 143px;
      flex-direction: column-reverse;
      padding-top: 43px;
      padding-bottom: 9px;
    }
  }
}