@import 'vars';
@import 'mixins';

.animate-button {
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: transform .3s;
  }

  &:active {
    transform: scale(1);
    transition: transform .1s;
  }
}

.cart {
  &__wrap {
    padding-top: 96px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
  }

  &__list {
    @include flex-column;
    gap: 40px;

    &__buttons-box {
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
    }

    &__button {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      background-color: #fff;
      border: 1px solid #A4A4A4;
      height: 50px;
      padding: 16px 40px;
    }
  }

  &__item {
    display: flex;
    width: 652px;
    height: 306px;
    border: 1px solid #EAEAEA;
    box-shadow: 17px 19px 24px 0px #00000021;
    position: relative;

    &__img {
      height: 100%;
    }

    &__description {
      margin-top: 22px;
      margin-left: 32px;
    }

    &__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #222222;
      width: 262px;
      margin-bottom: 42px;
    }

    &__text {
      font-weight: 400;
      font-size: 22px;
      line-height: 32px;
      color: #575757;
    }

    &__text .highlighted {
      color: $colorHighlight;
    }

    &__text input {
      width: 44px;
      height: 25px;
      margin-left: 24px;
      border: 1px solid #EAEAEA;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #656565;
      text-align: center;
      outline: none;
    }

    &__button-del {
      position: absolute;
      top: 28px;
      right: 22px;
      width: 18px;
      height: 18px;
      border: none;
      background-color: #fff;

      & svg path {
        transition: fill 0.3s;
      }

      &:hover svg path {
        transition: fill 0.3s;
        fill: $colorHighlight;
      }
    }
  }

  &__forms {
    @include flex-column;
    max-width: 360px;
    width: 100%;
    gap: 57px;
  }

  &__form-shipping {
    @include flex-column;
    gap: 20px;
    padding-top: 17px;
    width: 100%;

    &__title {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
    }

    &__input {
      height: 45px;
      border: 1px solid #A4A4A4;
      padding: 0 17px;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #222222;
      outline: none;

      &::placeholder {
        color: #B1B1B1;
      }
    }

    &__button {
      background: #FFFFFF;
      border: 1px solid #A4A4A4;
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #4A4A4A;
      height: 35px;
      padding: 0 15px;
      align-self: self-start;
      margin-top: 3px;
    }
  }

  &__form-checkout {
    background-color: #F5F3F3;
    padding: 39px 34px 42px;
    @include flex-column;

    &__subtotal {
      font-weight: 400;
      font-size: 11px;
      line-height: 13px;
      color: #4A4A4A;
      align-self: self-end;
      margin-bottom: 12px;

      & span {
        padding-left: 26px;
      }
    }

    &__grandtotal {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      align-self: self-end;
      margin-right: 3px;

      & span {
        padding-left: 26px;
        color: $colorHighlight;
        font-weight: 700;
      }
    }

    &__separator {
      border-top: 1px solid #E2E2E2;
      margin: 21px 8px 17px;
    }

    &__button {
      background: #F16D7F;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      border: none;
      height: 50px;
      margin: 0 10px;
    }
  }

}