@import 'vars';

.catalog-header {
  background-color: #F8F3F4;

  &__wrap {
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorHighlight;
  }

  &__breadcrumbs {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &__item:not(:last-child)::after {
      content: "/";
      padding: 0 10px;
    }

    &__item:last-child {
      color: $colorHighlight;
      font-weight: 700;
    }
  }
}

.filter {
  &__wrap {
    display: flex;
    padding-top: 35px;
    padding-bottom: 16px;
  }

  &__details {
    width: 360px;
    background: #FFFFFF;
    position: absolute;
    z-index: 999;
    padding: 16px;


    &[open] {
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }

    &[open] .filter__summary {
      color: $colorHighlight;
      margin-bottom: 16px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
  }

  &__summary {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    display: flex;
    align-items: center;
    gap: 11px;
  }

  &__summary svg path {
    fill: currentColor;
  }


  &__category {
    &__head {
      height: 37px;
      border-left: 5px solid $colorHighlight;
      border-bottom: 1px solid #EBEBEB;
      display: flex;
      align-items: center;
      padding-left: 11px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
    }

    &[open] .filter__category__head {
      color: $colorHighlight;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding: 24px 16px 8px;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
      list-style-type: none;

      &__item {
        &:hover {
          color: $colorHighlight;
        }
      }
    }
  }

  &__sort {
    display: flex;
    gap: 28px;
    padding-top: 16px;

    &__wrap {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }



    &__item {
      &__summary {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
      }

      &__summary::after {
        content: "\f107";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        padding-left: 10px;
      }

      &__content {
        position: absolute;
        z-index: 999;
        box-shadow: 6px 4px 35px 0px #00000036;
        width: 79px;
        margin-top: 5px;
        margin-left: -9px;
        padding: 7px 9px 11px;
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      &__checkbox {
        display: flex;
        align-items: center;
        gap: 9px;
      }
    }
  }

}

.product-slider {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  padding: 11px 20px 42px;

  &__button {
    width: 47px;
    height: 47px;
    background-color: #EAEAEA;
    align-self: center;
    border: none;
    color: #000000;
    font-size: 22px;

    :hover {
      color: $colorHighlight;
    }
  }
}

.product-description {
  margin-bottom: 16px;

  &__wrap {
    padding: 65px 0;
    border: #EAEAEA solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transform: translateY(-64px);
  }

  &__category-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorHighlight;
  }

  &__separator1 {
    width: 63px;
    border-top: 3px solid #EF5B70;
    margin: 12px 0;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    max-width: 555px;
  }

  &__price {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 32px;
  }

  &__separator2 {
    width: 642px;
    border-top: 1px solid #EAEAEA;
    margin: 64px 0;
  }

  &__filter {
    display: flex;
    gap: 23px;

    &__item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;

      &::after {
        content: "\f107";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        padding-left: 9px;
      }
    }
  }

  &__button-add-to-cart {
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px
  }
}