@import 'vars';

.catalog-header {
  background-color: #F8F3F4;

  &__wrap {
    min-height: 148px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorHighlight;
  }

  &__breadcrumbs {
    display: flex;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;

    &__item:not(:last-child)::after {
      content: "/";
      padding: 0 10px;
    }

    &__item:last-child {
      color: $colorHighlight;
      font-weight: 700;
    }
  }
}

.catalog-slider {
  display: flex;
  justify-content: space-between;
  background-color: #F7F7F7;
  padding: 11px 20px 42px;

  &__button {
    width: 47px;
    height: 47px;
    background-color: #EAEAEA;
    align-self: center;
    border: none;
    color: #000000;
    font-size: 22px;

    :hover {
      color: $colorHighlight;
    }
  }
}

.catalog-description {
  margin-bottom: 16px;

  &__wrap {
    padding: 65px 0;
    border: #EAEAEA solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transform: translateY(-64px);
  }

  &__category-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $colorHighlight;
  }

  &__separator1 {
    width: 63px;
    border-top: 3px solid #EF5B70;
    margin: 12px 0;
  }

  &__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    max-width: 555px;
  }

  &__price {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    margin-top: 32px;
  }

  &__separator2 {
    width: 642px;
    border-top: 1px solid #EAEAEA;
    margin: 64px 0;
  }

  &__filter {
    display: flex;
    gap: 23px;

    &__item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;

      &::after {
        content: "\f107";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        padding-left: 9px;
      }
    }
  }

  &__button-add-to-cart {
    width: 212px;
    height: 48px;
    border: 1px solid #FF6A6A;
    margin-top: 48px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px
  }
}