.cart__wrap {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__list__buttons-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.cart__list__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  height: 50px;
  padding: 16px 40px;
}
.cart__item {
  display: flex;
  width: 652px;
  height: 306px;
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  position: relative;
}
.cart__item__img {
  height: 100%;
}
.cart__item__description {
  margin-top: 22px;
  margin-left: 32px;
}
.cart__item__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 42px;
}
.cart__item__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #575757;
}
.cart__item__text .highlighted {
  color: #f16d7f;
}
.cart__item__text input {
  width: 44px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  outline: none;
}
.cart__item__button-del {
  position: absolute;
  top: 28px;
  right: 22px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #fff;
}
.cart__item__button-del svg path {
  transition: fill 0.3s;
}
.cart__item__button-del:hover svg path {
  transition: fill 0.3s;
  fill: #f16d7f;
}
.cart__forms {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  gap: 57px;
}
.cart__form-shipping {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 17px;
  width: 100%;
}
.cart__form-shipping__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.cart__form-shipping__input {
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  outline: none;
}
.cart__form-shipping__input::-moz-placeholder {
  color: #B1B1B1;
}
.cart__form-shipping__input::placeholder {
  color: #B1B1B1;
}
.cart__form-shipping__button {
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  height: 35px;
  padding: 0 15px;
  align-self: self-start;
  margin-top: 3px;
}
.cart__form-checkout {
  background-color: #F5F3F3;
  padding: 39px 34px 42px;
  display: flex;
  flex-direction: column;
}
.cart__form-checkout__subtotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  align-self: self-end;
  margin-bottom: 12px;
}
.cart__form-checkout__subtotal span {
  padding-left: 26px;
}
.cart__form-checkout__grandtotal {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  align-self: self-end;
  margin-right: 3px;
}
.cart__form-checkout__grandtotal span {
  padding-left: 26px;
  color: #f16d7f;
  font-weight: 700;
}
.cart__form-checkout__separator {
  border-top: 1px solid #E2E2E2;
  margin: 21px 8px 17px;
}
.cart__form-checkout__button {
  background: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  height: 50px;
  margin: 0 10px;
}/*# sourceMappingURL=style-cart.css.map */