.catalog {
  &__wrap {
    margin-bottom: 60px;
    @include flex-column-center;
  }

  &__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-bottom: 6px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    text-align: center;
  }

  &__cards {
    margin: 48px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }



  &__button {
    border: 1px solid #ff6a6a;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    width: 212px;
    height: 48px;
    background-color: #ffffff;
  }

  &__pagination {
    border: 1px solid #EBEBEB;
    display: flex;
    margin-bottom: 36px;

    &__button {
      @include flex-center;
      height: 44px;
      min-width: 44px;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #5D5D5D;
      padding: 0 5px;

      &:hover {
        color: $colorHighlight;
      }
    }
  }
}




@media (max-width: $maxWidthPad) {







  .catalog {

    &__wrap {
      margin-bottom: 70px;
    }

    &__title {
      margin-bottom: 3px;
    }

    &__cards {
      margin: 72px 0 32px;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    &__card {
      &__description {
        min-height: 161px;
      }

      &__title {
        margin-bottom: 13px;
      }

    }
  }

}

@media (max-width: $maxWidthMobile) {






  .catalog {
    &__wrap {
      margin-top: 64px;
      margin-bottom: 85px;
      padding: 0 8px;
    }

    &__cards {
      @include flex-column;
      margin: 64px 0 40px;
      display: flex;
      gap: 16px;
    }
  }



}