.cart__wrap {
  padding-top: 96px;
  padding-bottom: 128px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cart__item {
  display: flex;
  width: 652px;
  height: 306px;
  border: 1px solid #EAEAEA;
  box-shadow: 17px 19px 24px 0px rgba(0, 0, 0, 0.1294117647);
  position: relative;
}
.cart__item-img {
  height: 100%;
}
.cart__item-description {
  margin-top: 22px;
  margin-left: 32px;
}
.cart__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  width: 262px;
  margin-bottom: 42px;
}
.cart__item-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: #575757;
}
.cart__item-text .highlighted {
  color: #f16d7f;
}
.cart__item-text input {
  width: 44px;
  height: 25px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center;
  outline: none;
}
.cart__item-del {
  position: absolute;
  top: 28px;
  right: 22px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #fff;
}
.cart__item-del svg path {
  transition: fill 0.3s;
}
.cart__item-del:hover svg path {
  transition: fill 0.3s;
  fill: #f16d7f;
}
.cart__buttons-box {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.cart__button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  background-color: #fff;
  border: 1px solid #A4A4A4;
  height: 50px;
  padding: 16px 40px;
}

.forms-box {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  width: 100%;
  gap: 57px;
}

.form-shipping {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 17px;
  width: 100%;
}
.form-shipping__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}
.form-shipping__input {
  height: 45px;
  border: 1px solid #A4A4A4;
  padding: 0 17px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  outline: none;
}
.form-shipping__input::-moz-placeholder {
  color: #B1B1B1;
}
.form-shipping__input::placeholder {
  color: #B1B1B1;
}
.form-shipping__button {
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  height: 35px;
  padding: 0 15px;
  align-self: self-start;
  margin-top: 3px;
}

.form-checkout {
  background-color: #F5F3F3;
  padding: 39px 34px 42px;
  display: flex;
  flex-direction: column;
}
.form-checkout__subtotal {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  align-self: self-end;
  margin-bottom: 12px;
}
.form-checkout__subtotal span {
  padding-left: 26px;
}
.form-checkout__grandtotal {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  align-self: self-end;
  margin-right: 3px;
}
.form-checkout__grandtotal span {
  padding-left: 26px;
  color: #f16d7f;
  font-weight: 700;
}
.form-checkout__separator {
  border-top: 1px solid #E2E2E2;
  margin: 21px 8px 17px;
}
.form-checkout__button {
  background: #F16D7F;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  border: none;
  height: 50px;
  margin: 0 10px;
}

@media (max-width: 1024px) {
  .cart__wrap {
    padding-top: 59px;
    flex-direction: column;
    gap: 64px;
  }
  .cart__item {
    width: auto;
  }
  .cart__buttons-box {
    display: flex;
    justify-content: center;
    margin-top: 22px;
    gap: 48px;
  }
  .forms-box {
    flex-direction: row;
    align-items: flex-start;
    max-width: none;
    width: 100%;
    gap: 15px;
  }
  .form-shipping {
    padding-top: 0;
    max-width: 360px;
  }
  .form-checkout {
    width: 360px;
    margin-top: 39px;
  }
}
@media (max-width: 767px) {
  .cart__wrap {
    padding: 39px 8px 96px;
    gap: 48px;
  }
  .cart__list {
    gap: 32px;
  }
  .cart__item {
    width: auto;
    height: 188px;
  }
  .cart__item-description {
    margin-top: 13px;
    margin-left: 17px;
  }
  .cart__item-title {
    font-size: 16px;
    line-height: 19px;
    width: 144px;
    margin-bottom: 26px;
  }
  .cart__item-text {
    font-size: 14px;
    line-height: 17px;
  }
  .cart__item-text input {
    width: 24px;
    height: 15px;
    margin-left: 15px;
    font-size: 10px;
    line-height: 12px;
  }
  .cart__item-del {
    top: 17px;
    right: 12px;
    width: 10px;
    height: 10px;
  }
  .cart__buttons-box {
    margin-top: 0;
    gap: 10px;
  }
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    height: 33px;
    width: 175px;
    padding: 0;
  }
  .forms-box {
    flex-direction: column;
    align-items: flex-start;
    max-width: none;
    width: 100%;
    gap: 48px;
  }
  .form-checkout {
    margin-top: 0;
  }
}/*# sourceMappingURL=cart-page.css.map */