$maxWidthPad: 1024px;
$maxWidthMobile: 767px;

$maxWidthContentDesktop: 1180px;
$maxWidthContentPad: 768px;
$maxWidthContentMobile: 375px;

$colorHighlight: #f16d7f;

%font-main {
    font-family: 'Lato';
    font-style: normal;
}