@import './vars';
@import './mixins';

.menu {
    @include flex-column;
    position: absolute;
    background-color: #fff;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    width: 232px;
    padding: 16px 16px 32px 32px;
    z-index: 999;
    top: 75px;
    right: 0;
    transform: scaleX(0);
    transition: transform .3s;
    transform-origin: right;

    &__close {
        font-size: 15px;
        line-height: 15px;
        color: #6F6E6E;
        align-self: flex-end;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-top: 9px;
        padding-bottom: 4px;
    }

    &__category-box {
        @include flex-column;
        margin-top: 20px;
    }

    &__category-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $colorHighlight;
        margin-bottom: 12px;
    }

    &__category-list {
        @include flex-column;
        gap: 11px;
    }

    &__category-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin-left: 22px;
        list-style-type: none;

        &:hover {
            color: $colorHighlight;
        }
    }
}