@import 'vars';
@import 'mixins';

.pagination {
    border: 1px solid #EBEBEB;
    display: flex;
    justify-content: center;

    &__button {
        display: flex;
        height: 44px;
        min-width: 32px;
        justify-content: center;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #5D5D5D;
        padding: 0 5px;

        &_active {
            color: $colorHighlight;
            font-weight: 900;
        }

        &:hover {
            color: $colorHighlight;
        }
    }
}